/* @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&family=Sono&display=swap'); */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none !important;
}